<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<!--  Employee e1= new Employee() -no import -->
	  
	  <!--  autowire has 3 modes=> 1.no(by default)  2.byName 3.ByType(only one bean of that type should exist -->
	  <bean name="e1"  class="com.lti.entity.Employee" autowire="byType">
	<property name="empId" value="101"></property>
	<property name="empName" value="Nikitha"></property>
	 
	
 <!--  	<property name="address" ref="a1"></property>
 <property name="address" ref="a2"></property>-->
		</bean>
	
	
	<!--<bean name="a1" class="com.lti.entity.Address">
	<property name="city" value="Hyd"></property>
	<property name="state" value="Telangana"></property>
	</bean>-->
	
	  <bean name="address" class="com.lti.entity.Address">
	<property name="city" value="Mumbai"></property>
	<property name="state" value="Maharastra"></property>
	</bean>
	
	</beans>
	
	
	
	
	
	<!--<bean name="e1" class="com.lti.entity.Employee">
	<constructor-arg type="int" value="101"></constructor-arg>
	<constructor-arg type="String" value="Nikitha"></constructor-arg>-->


